html, body {
  margin: 0;
  padding: 0;
}

html * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, ol, label, input, button, div {
  font-family: Roboto, Helvetica;
}

.grecaptcha-badge {
  visibility: hidden;
}
